@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap');
/* 초기화 */
* {
   margin: 0;
   padding: 0;
}
a {
   text-decoration: none;
   color: #161a1d !important;
}
ul,
li,
ol {
   list-style: none;
}
/* common */
.container {
   margin: 0 auto;
   max-width: 1200px;
   overflow: hidden;
   font-family: 'Noto Sans KR', sans-serif;
}
/* header */
.navbar-brand img {
    width: 66px;
 }
 .container-fluid{
    width: 1200PX !important;
    background-color: #fff !important;
 }
 .fas {
    margin-left: 20px;
 }
 /* nav hover */
 nav ul li a:hover {
    color: #ff7b00 !important;
 }
 /* font */
.title {
    text-align: center;
    font-size: 38px;
    font-weight: bold;
    margin: 100px 0 100px 0;
    color: #161a1d;
 }
 h3 {
    font-size: 24px;
    font-weight: 300;
 }
 span {
    font-size: 16px;
    font-weight: 700;
    padding: 0 12px 0 30px;
 }
 .text1 {
    padding: 14px 0 0 0;
    line-height: 1em;
 }
 .text2 {
    padding: 28px 0 0 0;
 }
 /* section */
.section {
    height: 1200px;
 }
 
 .map_explanation {
    margin: 50px 0 0 0;
 }
 .map1 {
    width: 1200px;
    height: 72px;
    margin: 20px 0 50px 0;
 }
 .map2 {
    width: 1200px;
    height: 72px;
    margin: 20px 0 20px 0;
 }
 .map3 {
    width: 1200px;
    height: 72px;
    margin: 0px 0 20px 0;
 }
 .map_textbox1 {
    float: left;
    width: 1128px;
    height: 72px;
 }
 .map_textbox2 {
    float: left;
    width: 1128px;
    height: 72px;
 }
 .icon1 {
    float: left;
    width: 72px;
    height: 72px;
    background-color: #fce9cd;
    border-radius: 10px;
 }
 .svg1 {
    margin: 15px;
    width: 40px;
    height: 40px;
    background-image: url(../resources/images/jej/map_marker_icon.svg);
    background-position: center;
    background-size: cover;
    box-sizing: border-box;
    filter: invert(57%) sepia(29%) saturate(5945%) hue-rotate(359deg) brightness(101%) contrast(106%);
 }
 .icon2 {
    float: left;
    width: 72px;
    height: 72px;
    background-color: #fce9cd;
    border-radius: 10px;
 }
 .svg2 {
    margin: 15px;
    width: 40px;
    height: 40px;
    background-image: url(../resources/images/jej/subway_regular_icon.svg);
    background-position: center;
    background-size: cover;
    box-sizing: border-box;
    filter: invert(57%) sepia(29%) saturate(5945%) hue-rotate(359deg) brightness(101%) contrast(106%);
 }
 .icon3 {
    float: left;
    width: 72px;
    height: 72px;
    background-color: #fce9cd;
    border-radius: 10px;
 }
 .svg3 {
    margin: 20px;
    width: 30px;
    height: 30px;
    background-image: url(../resources/images/jej/bus_icon.svg);
    background-position: center;
    background-size: cover;
    box-sizing: border-box;
    filter: invert(57%) sepia(29%) saturate(5945%) hue-rotate(359deg) brightness(101%) contrast(106%);
 }
 /* footer */
footer {
    clear: both;
    width: 100%;
    min-height: 246px;
    background-color: #495057;
    clear: both;
    margin: 100px 0 0 0;
 }
 .text7 {
    font-size: 20px;
    font-weight: 100;
    color: #f8f9fa;
 }
 .part_4box1 {
    float: left;
    width: 277px;
    height: 155px;
    margin: 27px 0 0 0;
 }
 .text8 {
    font-size: 36px;
    font-weight: 800;
    color: #161a1d;
 }
 .text9 {
    font-size: 12px;
    font-weight: 300;
    color: #adb5bd;
 }
 .part_4box2 {
    float: left;
    width: 585px;
    height: 155px;
    margin: 27px 0 0 30px;
 }
 .boximg5 {
    float: left;
    width: 175px;
    height: 114px;
    background-image: url(../resources/images/jej/bakery3.jpg);
    background-position: center;
    margin: 9px 0 0 0;
 }
 .text_box3 {
    float: left;
    width: 380px;
    height: 114px;
    margin: 9px 0 0 30px;
 }
 .text10 {
    font-size: 14px;
    font-weight: bold;
    color: #dee2e6;
 }
 .part_4box3 {
    float: left;
    width: 250px;
    height: 155px;
    margin: 27px 0 0 30px;
 }